.Side-bar
  .Side-bar__user-name
    .Side-bar__list
      %h3.Side-bar__name masa
    %ul.Side-bar__iconlist
      %li.Side-bar__icon
        %a{href: '＃'}
        = icon('far','edit')
      %li.Side-bar__icon
        %a{href: '＃'}
        = icon('fas','cog')
  .Side-bar__group-list
    .Side-bar__group
      %a{href: '#'}
        .group__name techcamp
        .group__message まだメッセージはありません。

